
<div class="container">
<h2 class="text-success text-center"><strong>Parent - Child Interaction</strong></h2>  
<div class="jumbotron">
<h3>Parent Component</h3>
  
<app-child [dynamicdata]="dynamicdata" 
staticdata="This is static data!" (talk)="talkBack($event)"></app-child>

<div *ngFor="let c of chatItems">Child says: {{ c }}</div>
<br>
<button type="button" class="btn btn-primary ml-3" (click)="start()">Start</button>
<button type="button" class="btn btn-danger ml-3" (click)="stop()">Stop</button>
</div>

<a routerLink = "p1" class="btn btn-info">Load Another ChildComponent</a>
<router-outlet></router-outlet>
<br>
{{data}}
</div>
